<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <title>Lista Telefonica</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/mystyle.css">

    <!-- Angular -->
    <script src="../../lib/js/angular-1.7.8.min.js"></script>
    <script type="text/javascript">
        let app = angular.module("listaTelefonica", []);
        app.controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "(16) 99999-9991", cor:"black"},
                {nome: "Maria", telefone: "(16) 99999-9992", cor:"red"},
                {nome: "Lucas", telefone: "(16) 99999-9993", cor:"blue"},
            ];
            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 41, categoria: "Celular"},
                {nome: "Claro", codigo: 21, categoria: "Celular"},
                {nome: "GVT", codigo: 25, categoria: "Fixo"},
                {nome: "Embratel", codigo: 21, categoria: "Fixo"},
            ];
            $scope.addContato = function (contato) {
                // Mantra 1: Não ler o $scope dentro do controller, apenas escrever
                // Mantra 2: Utilizar os models para construir json.
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
            $scope.delContato = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3> <!-- Outra forma de apresentar os valores, sem expressions {{}} -->
        <table class="table" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr ng-class="{'trSelected trBold': contato.selecionado}" ng-repeat="contato in contatos">
                <!-- ng-class="[array]" -->
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora}}</td>
                <td><div style="margin:0 auto; width: 20px; height: 20px;" ng-style="{'background': contato.cor}"></div></td>
                <!-- <td ng-repeat="(key,value) in contato">{{value}}</td> -->
            </tr>
        </table>
        <hr>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
        <select class="form-control" ng-model="contato.operadora" ng-options="op.nome as op.nome group by op.categoria for op in operadoras">
            <!-- ng-options="value as textContent for jsonName in arrayOfJson" -->
            <!-- group by 'object' -->
            <option>Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-hide="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="delContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        <p>{{contato}}</p>
    </div>
    <div ng-include="'footer.html'"></div>
    <!-- Chamada ajax bloqueada pelo FILE type -->
</body>
</html>